body{
    padding: 5% 45%;
    box-shadow:  #447136 0px 0px 10px 6px;
}

.buat{
    width: 100%;
    background-color: #447136;
    color: white;
    padding: 10px 5px;
    border-radius: 10px;
    letter-spacing: 5px;
}
.klik{
    width: 100%;
    background-color: #447136;
    border-radius: 10px;
    color: white;
}
h1{
    color: #447136;
}
.label{
    color: #447136;
}
.keluar a{
    color: darkred;}

